.back2top-portal-container {
	position: fixed;
	bottom: 10%;
	right: 3%;

	background-color: var(--color-bright);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;

	--size: 60px;
	width: var(--size);
	height: var(--size);

	box-shadow: 0 0 5px var(--color-dark);
}

.back2top-portal-container > a {
	color: var(--color-dark);
	font-size: 30px;
}

@media screen and (max-width: 768px) {
	.back2top-portal-container {
		bottom: 3%;
		right: 6%;
	}
}
