/* body {
	width: min(150vh, 80vw);
	margin: 0 auto !important;
} */

:root {
	--color-dark: #121212;
	--color-bright: #dbe0dc;
	--color-ornament: orange;
	--color-salmon: #ad6a5a;
	--color-burgundy: #5d1212;
}
