/* body {
	width: min(150vh, 80vw);
	margin: 0 auto !important;
} */

:root {
	--color-dark: #121212;
	--color-bright: #dbe0dc;
	--color-ornament: orange;
	--color-salmon: #ad6a5a;
	--color-burgundy: #5d1212;
}

.back2top-icon {
	font-size: 2.3vw;
}

.back2top-portal-container {
	position: fixed;
	bottom: 10%;
	right: 3%;

	color: var(--color-dark);
	background-color: var(--color-bright);
	text-align: center;
	display: inline-block;
	border-radius: 100%;
	padding: 0.8vw;
}

.back2top-portal-container > a {
	color: var(--color-dark);
}

@media screen and (max-width: 1078px) {
	.back2top-icon {
		font-size: 4vh;
	}
}

@media screen and (min-width: 2048px) {
	.back2top-icon {
		font-size: 47px;
	}
}
